.container-fluid{
    color: aqua;
}
.conteiner{
    position: relative;
    /* top: 50%;
    text-align: center;*/
    left: 25%; 
}
.container2{
    padding-top: 10px;
    width: 680px; 
    height:480px; 
    /* border: 2px solid #020730; */
}
.datehead{
    text-align: center;
    background: #5C8EB3;
}
.navbar-brand{
    background-color:cadetblue; 
    margin-left:25px; 
    padding-left:10px;
    padding-right:10px;
}
.col-5{
    background-color:cadetblue; 
    margin-left:25px; 
    padding-left:10px;
    width:115px
}
.col{
    text-align: center;
    border: 1px solid #020730
}
.zap{
    background-color:cadetblue; 
    padding-left:25px; 
    padding-bottom:5px;
    width:725px
}
/* form{
    width: 75%;
  background: gray;
  margin: 0 auto;
} */
.lin{
    position: relative;     
}
.container2>.row{
    background: #5C8EB3;
}